*{
    margin: 0;
}
html, body{
    height: 100%;
}
main{
    min-height: calc(100% - 200px);
}
#header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #50B0E0;
    height: 100px;
}
#header img{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}
.nav li{
    list-style: none;
    display: inline;
    padding: 10px;
}
.nav li a{
    text-decoration: none;
    color: white;
    font-family: "JetBrains Mono";
    position: relative;
}
.nav li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background: white; 
    transition: width .3s;
}

.nav li a:hover::after {
    width: 100%;
}
.login-signup{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
#entrar{
    background-color: white;
    color: #50B0E0;
    border-radius: 10px;
    padding: 10px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 200px);
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "JetBrains Mono";
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    width: 300px;
}
.input-container{
    margin-top: 10px;
}
.form input{
    margin-top: 10px;
    font-family: "JetBrains Mono";
    font-size: 16px;
    border: 3px solid #50B0E0;
    border-radius: 10px;
    padding: 10px;
}
.form label{
    position: absolute;
    margin-left: 15px;
    padding-left: 2px;
    padding-right: 2px;
    background-color: white;
    color: #50B0E0;
    font-size: 16px;
}
.form button{
    font-family: "JetBrains Mono";
    border: none;
    background-color: #50B0E0;
    color: white;
    font-size: 18px;
    padding: 10px;
    width: 225px;
}
#footer{
    height: 100px;
    background-color: #50B0E0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    font-family: "JetBrains Mono";
    font-size: 20px;
}
@media (max-width: 576px){
    .nav li a{
        font-size: 12px;
    }
    .nav{
        padding-left: 10px;
        padding-right: 10px;
    }
    .login-signup{
        gap: 5px;
    }
    #header img{
        width: 20px
    }
}