*{
    margin: 0;
}
html, body{
    height: 100%;
}
main{
    min-height: calc(100% - 200px);
}
#header nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #50B0E0;
    height: 100px;
}
#header img{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}
.nav li{
    list-style: none;
    display: inline;
    padding: 10px;
}
.nav li a{
    text-decoration: none;
    color: white;
    font-family: "JetBrains Mono";
    position: relative;
}
.nav li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background: white; 
    transition: width .3s;
}

.nav li a:hover::after {
    width: 100%;
}
.login-signup{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
#entrar{
    background-color: white;
    color: #50B0E0;
    border-radius: 10px;
    padding: 10px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 200px);
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "JetBrains Mono";
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    width: 300px;
}
.input-container{
    margin-top: 10px;
}
.form input{
    margin-top: 10px;
    font-family: "JetBrains Mono";
    font-size: 16px;
    border: 3px solid #50B0E0;
    border-radius: 10px;
    padding: 10px;
}
.form label{
    position: absolute;
    margin-left: 15px;
    padding-left: 2px;
    padding-right: 2px;
    background-color: white;
    color: #50B0E0;
    font-size: 16px;
}
.form button{
    font-family: "JetBrains Mono";
    border: none;
    background-color: #50B0E0;
    color: white;
    font-size: 18px;
    padding: 10px;
    width: 225px;
}
#footer{
    height: 100px;
    background-color: #50B0E0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    font-family: "JetBrains Mono";
    font-size: 20px;
}
#messages-container{
    height: calc(100vh - 250px);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    overflow: scroll;
}
#message-input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
    border: 3px solid #50B0E0;
    border-radius: 10px;
    margin-bottom: 2px;
}
#message-input input{
    font-family: "JetBrains Mono";
    font-size: 16px;
    border:none;
    width: 93%;
}
#message-input input:focus{
    outline: none;
}
#message-input button{
    width: 7%;
    padding: 5px;
    background-color: #50B0E0;
    border: none;
    border-radius: 10px;
    font-family: "JetBrains Mono";
    color: white;
}
.message{
    display: inline-flex;
    align-items: center;
    background-color: #50B0E0;
    margin: 20px;
    padding: 10px;
    gap: 10px;
    border-radius: 20px;
    color: white;
    font-family: "JetBrains Mono";
}
.message p{
    max-width: 370px;
    word-wrap: break-word;
}
.message-mecatus{
    align-self: flex-start;
}
.message-user{
    align-self: flex-end;

}
.message img{
    border-radius: 100%;
    width: 50px; /* Or whatever size you want */
    height: 50px; /* Should be the same as the width */
    object-fit: cover;
    align-self: flex-start;
}
#profile-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    font-family: "JetBrains Mono";
    grid-gap: 20px;
    padding: 20px;
}
#profile-container h2{
    color: #50B0E0;
}
#historico-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.historico{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-family: "JetBrains Mono";
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-sizing: border-box;
}
.historico-field{
    min-width: 150px;
}
.historico-field h2{
    font-size: 20px;
}
.historico-field p{
    font-size: 14px;
}
.status{
    padding: 10px;
    border-radius: 10px;
}
.status-ok{
    background-color: green;
    color: white;
}
.status-waiting{
    background-color: yellow;
    color: black;
}
.status-bad{
    background-color: red;
    color: white;
}
@media (max-width: 576px){
    .nav li a{
        font-size: 12px;
    }
    .nav{
        padding-left: 10px;
        padding-right: 10px;
    }
    .login-signup{
        gap: 5px;
    }
    #header img{
        width: 20px
    }
    .historico{
        font-size: 12px;
        display: inline-flex;
        flex-direction: column;
        width: auto;
    }
}